@import "../../../assets/styles/variables";

.site-header-main {
    .site-header-main-wrapper {
        grid-template-columns: 20% 80%;
        @media (max-width: 680px) {
            grid-template-columns: 100%;
        }
        .site-header-main-logo {
            margin: 0.5rem;
            @media (max-width: 580px) {
                display: none;
            }
        }
        .site-header-main-item {
            justify-self: end;
            font-size: 1.3rem;
            .links-text {
                color: $secondaryFontColor;
                text-decoration: none;
                margin: 2.5rem;
                @media (max-width: 680px) {
                    margin: 0.5rem;
                }
            }
        }
    }
}
.site-header-main-logo-hb {
    display: none;
    margin: 0.5rem;
    @media (max-width: 580px) {
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
    }
}

.site-navigation-wrapper {
    .navbar {
        height: 10vh;
        .nav-container {
            grid-template-columns: 22% 80%;
            .items {
                grid-template-columns: 1fr;
                .hb-bar {
                    display: none;
                }
                .links {
                    font-size: 1.3rem;
                    .nav-item {
                        text-align: center;
                        list-style: none;
                        margin-top: 1rem;
                        .links-text {
                            color: $primaryFontColor;
                            text-decoration: none;
                            margin: 2.5rem;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }
    .grid-cols-2 {
        grid-template-columns: 1fr;
    }
    .site-header-main-item {
        justify-self: center !important;
        .nav-item {
            text-align: center;
            display: grid;
            grid-template-columns: 1fr;
        }
    }
    .site-navigation-wrapper .navbar {
        height: auto !important;
    }
    .site-navigation-wrapper .navbar .items {
        width: 100%;
        grid-template-columns: 80% 20% !important;
        .hb-bar {
            margin-right: 5%;
            display: block;
        }
    }
    .site-navigation-wrapper .navbar .items .links {
        display: none;
    }
    .site-navigation-wrapper .navbar .items .links-show {
        justify-self: center;
        display: block;
        font-size: 1.3rem;
        margin-left: 21%;
        .nav-item {
            display: grid;
            grid-template-columns: 1fr;
            text-align: center;
            .links-text {
                color: $primaryFontColor;
                text-decoration: none;
                margin: auto;
                padding: 0.5rem;
            }
        }
    }
}
